$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-primary: #fff;
$color-background-secondary: #F2F2F2;
$color-background-tertiary: #EDEDED;


$font-family-primary: 'Shrikhand', serif;
$font-family-secondary: 'Roboto' , sans-serif;


$font-palette:(
    font-family:(
        title: $font-family-primary,
        text: $font-family-secondary,
    ),
    font-weight:(
        thin: 100,
        light: 300,
        regular: 400,
        medium: 500,
        bold: 700,
        black: 900
    ),
    font-size:(
        very-small: 12px,
        small: 14px,
        normal: 16px,
        normal-plus: 18px,
        big: 20px,
        very-big: 24px,
    )
);


$color-palette:(
    color:(
        violet: $color-primary,
        pink: $color-secondary,
        green: $color-tertiary,
        white: $color-background-primary,
        light-grey: $color-background-secondary,
        heavy-grey: $color-background-tertiary,
    )
);

@mixin font($palette-type, $value){
    $palette: map-get($map: $font-palette, $key: $palette-type);
    
    @if($palette-type == font-family){
        font-family: map-get($map: $palette, $key: $value);
    }@else if($palette-type == font-weight){
        font-weight: map-get($map: $palette, $key: $value);
    }@else if($palette-type == font-size){
        font-size: map-get($map: $palette, $key: $value);
    }
}

@mixin color($type, $value){
    $palette: map-get($map: $color-palette, $key: color);
    @if($type == color){
        color: map-get($map: $palette, $key: $value)
    }@else if($type == color-background){
        background-color: map-get($map: $palette, $key: $value);
    }
}

@mixin box-shadow($inset: out, $value: light){
    @if($inset == out){
        @if($value == heavy){
            box-shadow:  0 4px 8px 0 rgba(0,0,0,0.4);
        }@else if($value == super-heavy){
            box-shadow:  0 8px 16px 0 rgba(0,0,0,0.4);
        }@else{
            box-shadow:  0 2px 4px 0 rgba(0,0,0,0.2);
        }
    }@else{
        @if($value == heavy){
            box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.4);
        }@else if($value == super-heavy){
            box-shadow: inset 0 8px 16px 0 rgba(0,0,0,0.4);
        }@else{
            box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.2);
        }
    }
}

@mixin reset-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin button($background-color, $color, $border-radius){
    @include color(color-background, $background-color);
    @include color(color, $color);
    border-radius: $border-radius;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
}

body, p{
    @include font(font-family, text);
    @include font(font-weight, regular);
    @include font(font-size, normal);
}
a{
    text-decoration: none;
    color: inherit;
}


.header{
    width: 100%;
    height: 6rem;
    @include color(color-background, white);
    &__logo-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%;
    }
    &__logo-image{
        width: 50%;
        height: 50%;
        margin-top: 10px;
    }
    &__location-card{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 40%;
        @include color(color-background, heavy-grey);
        @include box-shadow(in, light);

        &-text{
            @include font(font-weight, medium);
        }
    }
}

.header-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 18rem;
    padding: 20px 25px 20px 25px;
    @include color(color-background, light-grey);

    &__text{
        @include font(font-weight, light);
        @include font(font-size, normal-plus);
    }

    &__explore-button{
        width: 70%;
        padding: 15px;
        @include button(pink,white, 25px);
        @include box-shadow(out, heavy);
        &__text{
            @include font(font-size, regular);
            @include font(font-weight, medium);
        }
        &:hover{
            @include box-shadow(out, super-heavy);
        }
    }
}


