@media all and (min-width: 992px){
    .header{

        &__icons{
           display: none;
        }
    }

    .restaurant{

        &__wrapper{
            @include spacing(padding, px, 20, top);
            @include spacing(padding, px, 50, right);
            @include spacing(padding, px, 50, left);
            @include spacing(padding, px, 20, bottom);

            &__image{
                height: 250px;
                border-radius: 10px;
            }
        }
    
        &__dishes{
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            @include spacing(padding, px, 40);
            @include spacing(padding, px, 60, top);
            @include spacing(gap, px, 30);

        &--menu{
            flex: 1 1 335px;
        }

        &__title{
            @include font(font-size, title-big);
            width: 100%;
        }

        &__icons-wrapper{
            right: 50px;
            top: 60px;
            
            &__icons{
                @include font(font-size, title-big);
            }
        }

        &__under-title{
            @include spacing(padding, px, 5, bottom);
            @include spacing(padding, px, 10, top);
        }

        &__green-line{
            width: 35px;
            border: 2px solid $color-tertiary;
            @include spacing(margin, px, 15, bottom);
        }

        &__cards{
            position: relative;
            border-radius: 15px;
            @include color(background-color, white);
            @include spacing(margin, px, 15, bottom);
            @include box-shadow();
            @include spacing(padding, px, 10);

            &__title{
                @include spacing(padding, px, 10, bottom);
            }

            &__text{
                @include font(font-size, small);
            }

            &__price{
                position: absolute;
                right: 20px;
                bottom: 10px;
            }
        }

        &__order-button{
            width: 100%;
            @include spacing(padding,px,60, bottom);

            &__nav{
            width: 30%;
            
            &__text{
                @include font(font-size, normal-plus);
                @include font(font-weight, medium);
            }
        
            }
        }
    }
}
















}