.header{
    width: 100%;
    @include color(color-background, white);
    &__logo-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    &__logo-image{
        width: 140px;
        height: 50%;
        margin-top: 10px;
    }
    &__location-card{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        padding: 15px;
        
        @include color(color-background, heavy-grey);
        @include box-shadow(in, light);

        &__icons{
            @include color(color, heavy-grey-icon);
            @include font(font-size, normal-plus);
        }

        &__text{ 
            @include font(font-weight, medium);
        }

    
    }
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    width: 100%;
    padding: 40px 25px 50px 25px;
    margin-bottom: 30px;
    @include color(color-background, light-grey);

    &__text{
        @include font(font-weight, light);
        @include font(font-size, normal-plus);
    }

    &__explore-button{
        width: 70%;
        padding: 15px;
        @include button(pink,white, 25px); 
        @include box-shadow(out, heavy);
        background: linear-gradient(to top, $color-primary, $color-secondary);
        
        &__text{
            @include font(font-size, regular);
            @include font(font-weight, medium);
        }
        &:hover{
            @include box-shadow(out, super-heavy);
        }
    }
}

.how-section{
    padding: 20px;
    padding-bottom: 40px;

   
    @include color(color-background, white);
    &__title{
        width: 100%;
        padding-bottom: 30px;
    }    
    &__cards{
        padding: 24px;
        margin-bottom: 30px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 30px;
        border-radius: 20px;
        @include box-shadow(out, light);
        @include color(color-background, light-grey);
        position: relative;
        
        &__numbers{
            height: 25px;
            width: 25px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -12px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include color(color-background, violet);
            @include color(color, white);
            @include font(font-size, very-small);
        }
        
        &__icons{ 
            @include color(color, light-grey-icon);
            @include font(font-size, normal-plus);
            padding-left: 10px;
        }

        

        &__text{
            @include font(font-size, normal);
            @include font(font-weight, bold);
        }
    }  

    &__cards:nth-child(4){
        @include color(color-background, light-pink);
        .how-section__cards__icons{
            @include color(color, violet);
        }
    }
}

.restaurant-section{
    width: 100%;
    @include color(color-background, light-grey);
    

    &__cards{

        &__images{
            width: 100%;
            height: 70%;
            object-fit: cover;
        }

        &__new-sticker{

        }

        &__text{

        }


    }



}
