.header{
    width: 100%;
    @include color(background-color, white);
    &__logo-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        @include spacing(padding, px, 10);
    }
    &__logo-image{
        width: 140px;
        height: 50%;
        @include spacing(padding, px, 10, top);
    }
    &__location-card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include spacing(gap, px, 15);
        @include spacing(padding, px, 15);
        @include color(background-color, heavy-grey);
        @include box-shadow(in, light);

        &__icons{
            @include color(color, heavy-grey-icon);
            @include font(font-size, normal-plus);
        }

        &__text{ 
            @include font(font-weight, medium);
        }
    }
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    @include spacing(gap, px, 40);
    @include spacing(padding, px, 40, top);
    @include spacing(padding, px, 25, right);
    @include spacing(padding, px, 50, bottom);
    @include spacing(padding, px, 25, left);
    @include spacing(margin, px, 30, bottom);
    @include color(background-color, light-grey);

    &__text{
        @include font(font-weight, light);
        @include font(font-size, normal-plus);
    }

    &__explore-button{
        width: 70%;
        @include spacing(padding, px, 15);
        @include button(pink,white, 25px); 
        @include box-shadow(out, heavy);
        background: linear-gradient(to top, $color-primary, $color-secondary);
        
        &__text{
            @include font(font-size, regular);
            @include font(font-weight, medium);
        }
        &:hover{
            @include box-shadow(out, super-heavy);
        }
    }
}

.how-section{
    @include spacing(padding, px, 20);
    @include spacing(padding, px, 40, bottom);
    @include color(background-color, white);
    
    &__title{
        @include title-section();
    }    
    &__cards{
        @include spacing(padding, px, 24);
        @include spacing(margin, px, 30, bottom);
        display: flex;
        justify-content: start;
        align-items: center;
        @include spacing(gap, px, 30);
        border-radius: 20px;
        @include box-shadow(out, light);
        @include color(background-color, light-grey);
        position: relative;
        
        &__numbers{
            height: 25px;
            width: 25px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -12px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include color(background-color, violet);
            @include color(color, white);
            @include font(font-size, very-small);
        }
        
        &__icons{ 
            @include color(color, light-grey-icon);
            @include font(font-size, normal-plus);
            @include spacing(padding, px, 10, left);
        }

        

        &__text{
            @include font(font-size, normal);
            @include font(font-weight, bold);
        }
    }  

    &__cards:nth-child(4){
        @include color(background-color, light-pink);
        .how-section__cards__icons{
            @include color(color, violet);
        }
    }
}

.restaurant-section{
    width: 100%;
    @include color(background-color, light-grey);
    @include spacing(padding, px, 20);
    @include spacing(padding, px, 50, top);
    @include spacing(padding, px, 40, bottom);
    

    &__title{
       @include title-section();
    }

    &__cards{
        border-radius: 25px;
        height: 280px;
        @include color(background-color, white);
        @include spacing(margin, px, 20, bottom);

        &__images{
            @include image-cards();
        }

        &__new-sticker{

        }

        &__text{


            &__icons{

            }

        }


    }



}
